div.tagovi a {
    background-color: #3e3e3e;
}

div.tagovi a:hover {
    background-color: #969696;
    transition-duration: 0.3s;
}





div.job-card {
    border: 1px solid transparent;
}

div.job-card:hover {
    border: 1px solid rgb(30, 64, 175);
    transition-duration: 0.3s;
}

div.job-card:hover a {
    color: rgb(30, 64, 175);
    transition-duration: 0.3s;
}

a.job-card-tito {
    color: white;
    text-decoration: none;
}









a.mali-tag {
    color: white !important;
    padding: 5px 10px 5px 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15px;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
}

a.veliki-tag {
    color: white !important;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
}

button.dugme-komponenta {
    background-color: #1e40af;
    border-radius: 0.25rem;
    border-width: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 700;
}

button.dugme-komponenta-nav {
    background-color: #060606;
    color: white;
    border-radius: 0.25rem;
    border-width: 0rem;
    font-size: 16px;
    margin-left: 15px;
}

div.checkbox-komponenta {
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 42rem;
}

div.divider-komponenta {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height: 1px;
    width: 100%;
}

p.error-komponenta {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #ef4444;
    margin-top: 0.25rem;
}

div.field-komponenta {
    margin-top: 0.25rem;
}

form.form-komponenta {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

}

form.form-komponenta > :not([hidden]) ~ :not([hidden]) {
    margin-top: 1.5rem;
}

input.input-komponenta {
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: white;
}

select.select-komponenta {
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: white;
}
