div.tagovi a {
    background-color: #3e3e3e;
}

div.tagovi a:hover {
    background-color: #969696;
    transition-duration: 0.3s;
}

div.job-card {
    border: 1px solid transparent;
}

div.job-card:hover {
    border: 1px solid rgb(30, 64, 175);
    transition-duration: 0.3s;
}

div.job-card:hover h3 {
    color: rgb(30, 64, 175);
    transition-duration: 0.3s;
}
 
a.mali-tag {
    color: white; 
    padding: 5px 10px 5px 10px; 
    border-radius: 15px; 
    font-size: 10px; 
    text-decoration: none; 
    font-weight: bold;
}

a.veliki-tag {
    color: white; 
    padding: 10px 15px 10px 15px; 
    border-radius: 15px; 
    font-size: 14px; 
    text-decoration: none; 
    font-weight: bold;
}